<html>
  <head>
    <link rel="stylesheet" href="/assets/css/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/foundation.min.js"></script>
    <script src="/assets/js/vendor/what-input.js"></script>
    <script src="/assets/js/app.js"></script>

    <style>
      body {
        padding: 20px;
      }

      table {
        border-collapse: collapse;
      }

      td, th {
        padding: 10px;
        text-align: left;
        border: 1px solid gray;
      }
    </style>
  </head>
  <body>
    <h2>Simulators</h2>
    <table>
      <thead>
        <tr>
          <th>Simulated endpoint</th>
          <th>Response</th>
          <th>Requests</th>
        </tr>
      </thead>
      <tbody>
        <% @@endpoints.each do |endpoint| %>
          <tr>
            <td><%= endpoint.method %> <%= endpoint.path %></td>
            <td><a href="<%= endpoint.path %>/response"><%= endpoint.path %>/response</a></td>
            <td><a href="<%= endpoint.path %>/requests"><%= endpoint.path %>/requests</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
